<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:ignoredWords="etc.)?;Examples...;FAQs;this.&quot;;CSS;Stylesheets;F;alternative...;F3;F1;F2;C;F4;F6;F7;F8;F9;F10;F12;J;K;P;W;Y;Z" MadCap:lastBlockDepth="8" MadCap:lastHeight="222" MadCap:lastWidth="663" MadCap:conditions="Products.Mimic">
    <head><title></title>
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:concept term="Templates" />
            <MadCap:keyword term="Templates" />
            <MadCap:concept term="Collections" />
            <MadCap:concept term="FilterCollections" />
            <MadCap:concept term="FilterMovies" />
            <MadCap:concept term="CreatingMovies" />
            <MadCap:concept term="FilterOutput" />About Templates</h1>
        <MadCap:snippetBlock src="../Resources/Snippets/Templates/AboutTemplatesMimic.flsnp" />
    </body>
</html>