<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:ignoredWords="etc.)?;Examples...;FAQs;this.&quot;;CSS;Stylesheets;F;alternative...;F3;F1;F2;C;F4;F6;F7;F8;F9;F10;F12;J;K;P;W;Y;Z;MasterPages;StyleSheet;StyleSheets;(.flmsp;s" MadCap:lastBlockDepth="10" MadCap:lastHeight="816" MadCap:lastWidth="752" MadCap:conditions="Products.Mimic">
    <head><title></title>
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:concept term="Templates" />
            <MadCap:keyword term="Templates:creating" />Creating Templates</h1>
        <p>In Mimic, templates can be used for creating collections and movies. A template is simply an existing file of the same type that you are creating. Therefore, creating a template for future use in Mimic is just a matter of creating a collection or movie, providing the settings that you want, and placing it in the proper folder on your computer.</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>How to Create a Template</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody class="Final">
                <ol>
                    <li>
                        <p>In Mimic, create the collection or movie you want to use as a template.</p>
                    </li>
                    <li>Add content or settings to the collection or movie as you normally would. </li>
                    <li value="3">Save the file(s).</li>
                    <li>
                        <p>In Windows, find and copy the collection or movie folders/files that you created.</p>
                        <p class="note" MadCap:autonum="&lt;b&gt;&lt;span style=&quot;color: #bed230;&quot; class=&quot;mcFormatColor&quot;&gt;Note: &lt;/span&gt;&lt;/b&gt;">When creating collection or movie templates, copy the entire folder structure holding the files.</p>
                    </li>
                    <li>
                        <p>In your "Documents" folder, create a subfolder and name it <span class="TypedEntry">My Templates</span>. </p>
                        <p>This subfolder will be used to hold all of the different templates that you create in Mimic, as well as the templates for all other <MadCap:variable name="Other.CompanyName" /> applications.</p>
                        <MadCap:snippetBlock src="../Resources/Snippets/Notes/NoteVistaMyDocuments.flsnp" />
                    </li>
                    <li value="6">In the <span class="Emphasis">My Templates</span> folder, create the following subfolders, depending on whether you are storing collections or movies:<ul class="FirstLevel"><li>For collections, name the subfolder <span class="TypedEntry">Mimic Projects</span></li><li>For movies, name the subfolder <span class="TypedEntry">Mimic Movies</span></li></ul></li>
                    <li value="7">Paste your Mimic collection folder in the "Mimic Projects" subfolder. Paste your Mimic movie folder in the "Mimic Movies" subfolder. </li>
                </ol>
                <p>The next time you create a new collection or movie in Mimic, you can select <span class="Emphasis">My Templates</span> in the dialog to display (and select from) the templates that you've created.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
    </body>
</html>