<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:ignoredWords="etc.)?;Examples...;FAQs;this.&quot;;CSS;Stylesheets;F;alternative...;F3;F1;F2;C;F4;F6;F7;F8;F9;F10;F12;J;K;P;W;Y;Z;MasterPages;StyleSheet;StyleSheets;(.flmsp" MadCap:lastBlockDepth="13" MadCap:lastHeight="2761" MadCap:lastWidth="998" MadCap:conditions="Products.Flare" class="" style="mc-master-page: url('..\Resources\MasterPages\PDF_Topics\Flare\FlareTemplates.flmsp');">
    <head><title></title>
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:concept term="Templates" />
            <MadCap:keyword term="Templates:creating" />
            <MadCap:concept term="FilterTemplates" />Creating Templates</h1>
        <p>After creating a template folder, you can add one or more template files to it. A template is simply an existing file or element of the same type that you are creating (e.g., a project, topic file, target file, snippet file). <MadCap:conditionalText MadCap:conditions="General.OnlineLive">See <MadCap:xref href="About_Templates.htm">About Templates</MadCap:xref>.</MadCap:conditionalText></p>
        <p>You can create templates of entire projects or individual files within a project. There are two ways to create a template from an individual file: (1) with the file open and (2) from the Template Manager.</p>
        <MadCap:snippetBlock src="../Resources/Snippets/EmptyPageBreakAfter.flsnp" MadCap:conditions="FlareGuides.FlareTemplatesGuide" />
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>how to create a template of an entire project</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <MadCap:snippetBlock src="../Resources/Snippets/Templates/SaveProjectAsTemplateSteps.flsnp" />
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:snippetBlock src="../Resources/Snippets/EmptyPageBreakAfter.flsnp" MadCap:conditions="FlareGuides.FlareTemplatesGuide" />
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>how to create a file template—with the file open</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <ol>
                    <li>In Flare create the element (e.g., topic, target, skin, master page ) that you want to use as a template.</li>
                    <li>Add content or settings to the element as you normally would. When you use the template to create more elements in the future, those new elements will start out with the same content or settings as your template file.</li>
                    <li>
                        <MadCap:snippetText src="../Resources/Snippets/StepsGeneral/DoOneOfTheFollowingDependingOnUI.flsnp" />
                        <ul class="FirstLevel">
                            <li><span class="SetOffFirstLevel">Ribbon</span> Select <span class="Emphasis">File&gt;Save&gt;Save As Template</span>.       </li>
                            <li><span class="SetOffFirstLevel">Tool Strip </span>Select <span class="Emphasis">File&gt;Save As Template</span>.</li>
                        </ul>
                        <p>The Save As Template dialog opens.</p>
                    </li>
                    <li>In the <span class="Emphasis">Template Folder</span> section, select the folder where you want to store the template file.</li>
                    <li>
                        <p>The <span class="Emphasis">Template Name</span> field, enter a name for the new template. </p>
                        <p MadCap:conditions="Products.Flare">
                            <img src="../Resources/Images/save_as_template_example1.png" class="MaxWidth100Percent" />
                        </p>
                    </li>
                    <li>
                        <MadCap:snippetText src="../Resources/Snippets/StepsGeneral/ClickOK.flsnp" />
                    </li>
                </ol>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:snippetBlock src="../Resources/Snippets/EmptyPageBreakAfter.flsnp" MadCap:conditions="FlareGuides.FlareTemplatesGuide" />
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>
                    <MadCap:keyword term="Templates:Template Manager" />how to create a file template—from the template manager</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <ol>
                    <li>In Flare create the element (e.g., topic, target, skin, master page) that you want to use as a template.</li>
                    <li>Add content or settings to the element as you normally would. When you use the template to create more elements in the future, those new elements will start out with the same content or settings as your template file.</li>
                    <li>
                        <MadCap:snippetText src="../Resources/Snippets/StepsGeneral/SaveYourWork.flsnp" />
                    </li>
                    <li>
                        <MadCap:snippetText src="../Resources/Snippets/StepsGeneral/DoOneOfTheFollowingDependingOnUI.flsnp" />
                        <ul class="FirstLevel">
                            <li><span class="SetOffFirstLevel">Ribbon</span> <MadCap:snippetText src="../Resources/Snippets/UIElements/SelectToolsRibbon.flsnp" /> In the <span class="Emphasis">Templates</span> section select <span class="Emphasis">Manage Templates</span>. </li>
                            <li><span class="SetOffFirstLevel">Tool Strip </span>Select <span class="Emphasis">Tools&gt;Manage Templates</span>.</li>
                        </ul>
                        <p>The Template Manager opens.</p>
                    </li>
                    <li>In the built-in tree, find and select the folder where you want to store the template file. </li>
                    <li>
                        <p>Click <img src="../Resources/Images/add_template_file_btn.png" class="ReduceButtonSize" />.</p>
                        <p MadCap:conditions="Products.Flare">
                            <img src="../Resources/Images/template_manager_example1.png" class="MaxWidth90Percent" />
                        </p>
                    </li>
                    <li>In the dialog that opens, find and double-click the file that you want to add as a template.</li>
                    <li>In the Save As Template dialog click <span class="Emphasis">OK</span>.</li>
                    <li>In the Template Manager dialog click <span class="Emphasis">Close</span>.</li>
                </ol>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:dropDown MadCap:conditions="General.OnlineLive">
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot MadCap:conditions="General.OnlineLive">note</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <p class="note" MadCap:conditions="General.OnlineLive" MadCap:autonum="&lt;b&gt;&lt;span style=&quot;color: #bed230;&quot; class=&quot;mcFormatColor&quot;&gt;Note: &lt;/span&gt;&lt;/b&gt;">When you save a file (e.g., topic, page layout) as a new template and select a template folder, the appropriate template subfolder is automatically added to that folder (e.g., topic templates are stored in a subfolder called "Content"; page layout templates are stored in a subfolder called "PageLayouts"). If you open the main template folder in Windows, you will notice the subfolders within it. Do not rename these subfolders. If you decide to create template subfolders manually, you must be careful to name them exactly the same as <MadCap:variable name="Other.Product" /> names automatically.</p>
                <p class="note" MadCap:autonum="&lt;b&gt;&lt;span style=&quot;color: #bed230;&quot; class=&quot;mcFormatColor&quot;&gt;Note: &lt;/span&gt;&lt;/b&gt;">You can also create a project template when exporting files from another project. See <MadCap:xref href="../Exporting/Exporting_Projects.htm">Exporting Projects</MadCap:xref>.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot MadCap:conditions="General.OnlineLive">What's Next?</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody class="Final">
                <p>After you create a template, you can select it whenever you create a new element of the same type (e.g., you can select a topic template when creating a new topic).</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <p MadCap:conditions="General.OnlineNotWebHelp">
            <MadCap:conceptLink term="Templates" />
        </p>
    </body>
</html>