<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditions="Products.Flare" MadCap:lastBlockDepth="11" MadCap:lastHeight="391" MadCap:lastWidth="871">
    <head><title></title>
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:concept term="Templates" />
            <MadCap:keyword term="Templates:deleting" />
            <MadCap:concept term="FilterTemplates" />Deleting Templates</h1>
        <p>You can delete templates from the Template Manager.</p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>how to delete a template</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody class="Final">
                <ol>
                    <li>
                        <MadCap:snippetText src="../Resources/Snippets/UIElements/SelectToolsRibbon.flsnp" /> In the <span class="Emphasis">Templates</span> section select <span class="Emphasis">Manage Templates</span>. The Template Manager opens.</li>
                    <li> From the file tree on the left, find and select the template file you want to remove.</li>
                    <li>
                        <MadCap:snippetText src="../Resources/Snippets/StepsGeneral/OnKeyboardPressDelete.flsnp" />
                    </li>
                    <li>
                        <MadCap:snippetText src="../Resources/Snippets/StepsGeneral/ClickOK.flsnp" /> The template is deleted.</li>
                    <li>
                        <MadCap:snippetText src="../Resources/Snippets/StepsGeneral/SaveYourWork.flsnp" />
                    </li>
                </ol>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <p MadCap:conditions="General.OnlineNotWebHelp">
            <MadCap:conceptLink term="Templates" />
        </p>
    </body>
</html>