<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditions="Products.D2H" MadCap:lastBlockDepth="6" MadCap:lastHeight="1889" MadCap:lastWidth="1046" style="mc-master-page: url('..\..\Resources\MasterPages\PDF_Topics\D2H\D2HMakingItLookGood.flmsp');">
    <head>
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Templates;Styles" />Copying Custom Styles to a New Template</h1>
        <p>
            <MadCap:snippetText src="../../Resources/Snippets/D2H/CopyingCustomStyles.flsnp" />
        </p>
        <MadCap:dropDown>
            <MadCap:dropDownHead>
                <MadCap:dropDownHotspot>How to Copy Styles using the Word Organizer</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody>
                <ol>
                    <li>Open the Word template into which you want to want to copy your custom styles.</li>
                    <li>Select <span class="Emphasis">File&gt;Options</span>. The Word Options dialog opens.</li>
                    <li>In the left pane, click <span class="Emphasis">Add-Ins</span>.</li>
                    <li>
                        <p>From the <span class="Emphasis">Manage</span> drop-down, choose <span class="Emphasis">Templates</span>, then click <span class="Emphasis">Go</span>. The Templates and Add-ins dialog opens.</p>
                        <p>
                            <img src="../../Resources/Images/D2H/copying_styles1.png" alt="" title="" class="MaxWidth80Percent" />
                        </p>
                    </li>
                    <MadCap:pageBreak MadCap:conditions="D2HGuides.D2HDocumentsTemplatesContent,D2HGuides.D2HMakingItLookGoodGuide" />
                    <li>
                        <p>Click <span class="Emphasis">Organizer</span>. The Organizer dialog opens.</p>
                        <p>
                            <img src="../../Resources/Images/D2H/copying_styles2.png" alt="" title="" class="MaxWidth100Percent" />
                        </p>
                    </li>
                    <MadCap:pageBreak MadCap:conditions="D2HGuides.D2HDocumentsTemplatesContent,D2HGuides.D2HMakingItLookGoodGuide" />
                    <li>
                        <p>The left side of the dialog shows the current document, and the right side of the dialog shows a Word default template. To remove the default template from the list and replace it with your custom template or document, click <span class="Emphasis">Close File</span>, then click <span class="Emphasis">Open File</span>.</p>
                        <p>
                            <img src="../../Resources/Images/D2H/copying_styles3.png" alt="" title="" class="MaxWidth100Percent" />
                        </p>
                    </li>
                    <MadCap:pageBreak MadCap:conditions="D2HGuides.D2HDocumentsTemplatesContent,D2HGuides.D2HMakingItLookGoodGuide" />
                    <li>
                        <p>In the dialog that opens, navigate to the template or document that contains your custom styles, then click <span class="Emphasis">Open</span>. Your custom styles appear on the right side of the dialog.</p>
                        <p>
                            <img src="../../Resources/Images/D2H/copying_styles4.png" alt="" title="" class="MaxWidth100Percent" />
                        </p>
                    </li>
                    <MadCap:pageBreak MadCap:conditions="D2HGuides.D2HDocumentsTemplatesContent,D2HGuides.D2HMakingItLookGoodGuide" />
                    <li>
                        <p>On the right side of the dialog, select the custom styles you want to copy to your new template. Click <span class="Emphasis">Copy</span> to copy each style. </p>
                        <p>
                            <img src="../../Resources/Images/D2H/copying_styles5.png" alt="" title="" class="MaxWidth100Percent" />
                        </p>
                        <p>
                            <img src="../../Resources/Images/D2H/copying_styles6.png" alt="" title="" class="MaxWidth100Percent" />
                        </p>
                        <p class="note" MadCap:autonum="&lt;b&gt;&lt;span style=&quot;color: #bed230;&quot; class=&quot;mcFormatColor&quot;&gt;Note: &lt;/span&gt;&lt;/b&gt;">If a style has the same name as an existing style, you will be given the option to overwrite the existing style.</p>
                    </li>
                    <li>(Optional)&#160;If you need to delete a style, select it and click <span class="Emphasis">Delete</span>. To rename a style, select it and click <span class="Emphasis">Rename</span>.</li>
                    <li>When you are finished copying the custom styles to your new template, click <span class="Emphasis">Close</span>.</li>
                </ol>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
        <MadCap:dropDown>
            <MadCap:dropDownHead class="OnlineOnly">
                <MadCap:dropDownHotspot>Tip</MadCap:dropDownHotspot>
            </MadCap:dropDownHead>
            <MadCap:dropDownBody class="Final">
                <p class="tip" MadCap:autonum="&lt;b&gt;Tip: &lt;/b&gt;">Keep a copy of your templates. If you accidentally modify or delete a style in the working copies of your templates, you can use the Organizer to restore template styles  by copying them from the original template.</p>
            </MadCap:dropDownBody>
        </MadCap:dropDown>
    </body>
</html>