<?xml version="1.0" encoding="utf-8"?>
<html MadCap:conditions="Products.D2H" MadCap:lastBlockDepth="15" MadCap:lastHeight="5605" MadCap:lastWidth="1042" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" class="" style="mc-master-page: url('..\..\Resources\MasterPages\PDF_Topics\D2H\D2HMakingItLookGood.flmsp');">
    <head>
        <link href="" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <MadCap:keyword term="Templates;Styles" />Editing a Template</h1>
        <MadCap:snippetBlock src="../../Resources/Snippets/D2H/EditingATemplateALL.flsnp" />
        <MadCap:snippetBlock src="../../Resources/Snippets/EmptyPageBreakAfter.flsnp" MadCap:conditions="D2HGuides.D2HMakingItLookGoodGuide" />
    </body>
</html>